html, body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bloco-global{
    background-color: darkslategray;
    height: 90%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pote{
    background-color: #cfebdb;
    margin: 0 auto;
    padding: 10px 3px;
    height: 90%;
    width: 7%;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    box-shadow: inset -10px -10px 10px #818984, inset 3px 3px 5px #FFF;
}
.pote div{
    width: 95%;
    width: 85%;
    height: 15%;
    border-radius: 60px;
    /* background-color: yellow; */
    margin: 2px 0;
    border: 1px solid #ccc;
}
.color1{
    background-color: #adc20f;
    box-shadow: inset -10px -10px 10px #660, inset 3px 3px 5px #ccc;
}
.color2{
    background-color: rgb(6, 221, 6);
    box-shadow: inset -10px -10px 10px rgb(2, 80, 2), inset 3px 3px 5px #ccc;
}
.color3{
    background-color: #f40838;
    box-shadow: inset -10px -10px 10px #75041b, inset 3px 3px 5px #ccc;
}
.color4{
    background-color: rgb(130, 11, 241);
    box-shadow: inset -10px -10px 10px rgb(58, 6, 107), inset 3px 3px 5px #ccc;
}
.color5{
    background-color: rgb(34, 209, 215);
    box-shadow: inset -10px -10px 10px #016f6f, inset 3px 3px 5px #ccc;
}
.color6{
    background-color: rgb(233, 20, 116);
    box-shadow: inset -10px -10px 10px #660, inset 3px 3px 5px #ccc;
}

@keyframes quica{
    100%{
        transform: translateY(0px);
    }
    0%{
        transform: translateY(-100%);
    }
}

/* Telefones */
@media (max-width: 400px) { 
    .bloco-global{
        background-color: #adc20f;
        height: 55%;
    }
    .pote{
        height: 65%;
        width: 11%;
    }
}
@media (min-width: 400px) and (max-width: 480px) {
    .bloco-global{
        background-color: pink;
        height: 45%;
    }
    .pote{
        height: 83%;
        width: 12%;
    }
}

/* Telefones em paisagem a tablet em retrato */
@media (min-width: 480px) and (max-width: 610px) {
    .bloco-global{
        background-color: red;
        height: 50%;
    }
    .pote{
        height: 90%;
        width: 12%;
    }
}
@media (min-width: 610px) and (max-width: 768px) {
    .bloco-global{
        background-color: yellow;
    }
    .pote{
        height: 90%;
        width: 12%;
    }
}
/* Tablet em retrato a paisagem e desktop */
@media (min-width: 768px) and (max-width: 979px) {
    .bloco-global{
        background-color: green;
    }
    .pote{
        height: 65%;
        width: 12%;
    }
}
